body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-image: url('images/logo1.jpg');
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  header .logo {
    display: flex;
    align-items: center;
  }
  
  header .logo h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  header .options {
    display: flex;
    align-items: center;
  }
  
  header .options a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  main h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  main p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  main form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  main label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  main input[type="number"],
  main input[type="text"],
  main input[type="date"],
  main select {
    width:100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  main select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>');
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 12px;
    padding-right: 30px;
  }
  
  main button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
  }
  
  main button:hover {
    background-color: #45a049;
  }
  
  #map {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  main h3 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  main ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  main li {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  main li:last-child {
    border-bottom: none;
  }
  
  main li a {
    color: #333;
    text-decoration: none;
    display: block;
  }
  
  main li a:hover {
    color: #4CAF50;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
  }
  
  footer p {
    margin: 0;
    font-size: 1.2rem;
  }
  #map {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }
  
  .place {
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .place img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .place p {
    margin: 0;
    font-size: 1.2rem;
  }