body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/logo1.jpg');
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

header a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

main {
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding:10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

.destination {
    margin-bottom: 30px;
}

.destination img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.destination h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.destination p {
    font-size: 18px;
    line-height: 1.5;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm label {
    margin-bottom: 5px;
}

#contactForm input,
#contactForm textarea {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contactForm button {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}